
<!-- ========================= hero-section-wrapper-5 start ========================= -->
<section id="home" class="hero-section-wrapper-5">

  <!-- ========================= header-6 start ========================= -->
  <header class="header header-6">
    <div class="navbar-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <img src="assets/logo-1.png" alt="Logo" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent6" aria-controls="navbarSupportedContent6" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent6">
                <ul id="nav6" class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="page-scroll" style="font-family:'Times New Roman', Times," href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" style="font-family:'Times New Roman', Times," href="#feature">Portals</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" style="font-family:'Times New Roman', Times," href="#about">About</a>
                  </li>


                  <li class="nav-item">
                    <a class="page-scroll" style="font-family:'Times New Roman', Times," href="#contact">Contact</a>
                  </li>
                </ul>
              </div>

              <div class="header-action d-flex">
                <a href="#0"> <i class="lni lni-cart"></i> </a>
                <a href="#0"> <i class="lni lni-alarm"></i> </a>
              </div>
              <!-- navbar collapse -->
            </nav>
            <!-- navbar -->
          </div>
        </div>
        <!-- row -->

      </div>
      <!-- container -->
    </div>
    <!-- navbar area -->
  </header>
  <!-- ========================= header-6 end ========================= -->

  <!-- ========================= hero-5 start ========================= -->
  <div class="hero-section hero-style-5 img-bg" style="background-image: url('assets/hero-bg.png')">
    <div class="container">
      <!-- <div class="section-title" style="margin-left: 60%;" >
        <img style=" width: 50%; height: auto;" src="assets/sap.jpg" alt="Image" class="img-fluid">
      </div> -->
      <div class="row">
        <div class="col-lg-6" >
          <div class="hero-content-wrapper">
            <h1 class="mb-30 wow fadeInUp" data-wow-delay=".2s" style="font-family:Arial, Helvetica, sans-serif"><b>Welcome!</b></h1>
            <p class="mb-30 wow fadeInUp" data-wow-delay=".4s" style="font-family:Arial, Helvetica, sans-seri">Please select your portals to view and get the details from the SAP software.</p>

            <!-- <a href="#0" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=".6s">Get Started <i class="lni lni-chevron-right"></i> </a> -->
            <!-- <div class="section-title" style="margin-top: 30%;" >
              <img style=" width: 80%; height: auto;" src="assets/sap.jpg" alt="Image" class="img-fluid">
            </div> -->
          </div>
        </div>
        <div class="col-lg-6 align-self-end">
          <div class="hero-image wow fadeInUp" data-wow-delay=".5s">
            <img src="assets/hero-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================= hero-5 end ========================= -->

</section>
<!-- ========================= hero-section-wrapper-6 end ========================= -->

<!-- ========================= feature style-5 start ========================= -->
<section id="feature" class="feature-section feature-style-5" style="background-color: #d5e7f0;" >
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8">
        <div class="section-title text-center mb-60">
          <h1 class="mb-15 wow fadeInUp" data-wow-delay=".2s"><b>Portals login</b></h1>
          <p class="wow fadeInUp" data-wow-delay=".4s">Select your portal to view the datas</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature wow fadeInUp" data-wow-delay=".2s" style="background-color:rgb(208, 212, 243);">
          <div class="icon">
            <i class="lni lni-vector"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content">
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/login"> <h3><b>Customer portal</b></h3></a>
            <p>The need of Customer portal is to access and view the complete transaction between the company and customer.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" >
        <div class="single-feature wow fadeInUp" data-wow-delay=".4s"  style="background-color:rgb(208, 212, 243);">
          <div class="icon">
            <i class="lni lni-pallet"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content">
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/vendlogin"> <h3><b>Vendor portal</b></h3></a>
            <p>The need of the Vendor portal is to access and view the complete transaction between the company and employee.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature wow fadeInUp" data-wow-delay=".6s"  style="background-color:rgb(208, 212, 243);">
          <div class="icon">
            <i class="lni lni-stats-up"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content">
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/emplogin"> <h3><b>Employee portal</b></h3></a>
            <p>The need of Employee portal is to access and view the complete transaction between the company and employee.</p>
          </div>
        </div>
      </div>



    </div>

  </div>
</section>
<!-- ========================= feature style-5 end ========================= -->

<!-- ========================= about style-4 start ========================= -->
<section id="about" class="about-section about-style-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="about-content-wrapper">
          <div class="section-title mb-30">

            <p class="wow fadeInUp" data-wow-delay=".3s">Here is the function module details for each and every portal.</p>
          </div>
          <ul>
            <!-- <li class="wow fadeInUp" data-wow-delay=".35s">
              <i class="lni lni-checkmark-circle"></i>
              Stop wasting time and money designing and managing a website that doesn’t get results.
            </li>
            <li class="wow fadeInUp" data-wow-delay=".4s">
              <i class="lni lni-checkmark-circle"></i>
              Stop wasting time and money designing and managing.
            </li>
            <li class="wow fadeInUp" data-wow-delay=".45s">
              <i class="lni lni-checkmark-circle"></i>
              Stop wasting time and money designing and managing a website that doesn’t get results.
            </li> -->
            <mat-vertical-stepper>

              <mat-step label="Customer Portal Modules">
                <p>Sales and Distribution (SD)</p>
                <p>Finance</p>
              </mat-step>

              <mat-step label="Vendor Portal Modules">
                <p>Material Management (MM)</p>
                <p>Finance</p>
              </mat-step>

              <mat-step label="Employee Portal Modules">
                <p>Human Resource (HR)</p>
                <p>Finance</p>
              </mat-step>

            </mat-vertical-stepper>
          </ul>
          <!-- <a href="#0" class="button button-lg radius-10 wow fadeInUp" data-wow-delay=".5s">Learn More</a> -->
        </div>
      </div>
      <div class="col-xl-7 col-lg-6">
        <div class="about-image text-lg-right wow fadeInUp" data-wow-delay=".5s">
          <img src="assets/about-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= about style-4 end ========================= -->

<!-- ========================= pricing style-4 start ========================= -->
<section id="pricing" class="pricing-section pricing-style-4 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="section-title mb-60">
          <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s" class="card-title font-weight-bold " style="font-family: 'Times New Roman', Times, serif; font-size: 50px;margin-bottom: 10%; margin-left:5%" >Objective</h3>

            <ol >
              <li  style="font-family:'Times New Roman', Times, serif;font-size: 20px;">The main objective of the portal development is to make oneself gain business level understanding of the SAP core functional modules and to become full stack techno functional consultant.</li>
              <br>
              <li  style="font-family:'Times New Roman', Times, serif;font-size: 20px;"> One should design an SAP ERP Portal for a particular organisation which is a user-friendly portal.</li>
            </ol>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6">
        <div class="pricing-active-wrapper wow fadeInUp" data-wow-delay=".4s">
          <div class="pricing-active">
            <div class="single-pricing-wrapper">
              <div class="single-pricing">
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/cusland.png" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-6 contents">
                    <div class="row justify-content">


                        <h2 style="color: #00B0FF;"><b>Customer portal</b></h2>
                        <p style="color: #00B0FF;">This portal was designed for maintaining the data of all the customers carrying out business with the organization.</p>



                    </div>

                  </div>
                </div>


              </div>
            </div>
            <div class="single-pricing-wrapper">
              <div class="single-pricing">


                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/vendland.png" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-6 contents">
                    <div class="row justify-content" >


                        <h2 style="color: #00BFA6;"><b>Vendor portal</b></h2>
                        <p style="color: #00BFA6;">This portal was designed for maintaining the data of all the vendors carrying out business with the organization.</p>



                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="single-pricing-wrapper">
              <div class="single-pricing">

                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/empland.png" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-6 contents">
                    <div class="row justify-content">


                        <h2 style="color: #F9A826;"><b>Employee portal</b></h2>
                        <p style="color: #F9A826;">This portal was designed for providing info about the organization and employees, getting the pay slip as printable, leave balance and to request leave.</p>



                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= pricing style-4 end ========================= -->

<!-- ========================= contact-style-3 start ========================= -->
<section id="contact" class="contact-section contact-style-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
        <div class="section-title text-center mb-50">
          <h3 class="mb-15">Get in touch</h3>
          <p>You can quench your doubts by anytime with the proper communication using this form.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-form-wrapper">
          <form action="assets/php/contact.php" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="single-input">
                  <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                  <i class="lni lni-user"></i>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <input type="email" id="email" name="email" class="form-input" placeholder="Email">
                  <i class="lni lni-envelope"></i>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                  <i class="lni lni-phone"></i>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                  <i class="lni lni-text-format"></i>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-input">
                  <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                  <i class="lni lni-comments-alt"></i>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-button">
                  <button type="submit" class="button"> <i class="lni lni-telegram-original"></i> Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="left-wrapper">
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <div class="single-item">
                <div class="icon">
                  <i class="lni lni-phone"></i>
                </div>
                <div class="text">
                  <p>0045939863784</p>
                  <p>+004389478327</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <div class="single-item">
                <div class="icon">
                  <i class="lni lni-envelope"></i>
                </div>
                <div class="text">
                  <p>yourmail@gmail.com</p>
                  <p>admin@yourwebsite.com</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <div class="single-item">
                <div class="icon">
                  <i class="lni lni-map-marker"></i>
                </div>
                <div class="text">
                  <p>Portal sol, 13/5 Road, Sidny United State Of America</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= contact-style-3 end ========================= -->

<!-- ========================= clients-logo start ========================= -->
<section class="clients-logo-section pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="client-logo wow fadeInUp" data-wow-delay=".2s">
          <img src="assets/img/clients/brands.svg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= clients-logo end ========================= -->

<!-- ========================= footer style-4 start ========================= -->
<footer class="footer footer-style-4">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
            <div class="logo">
              <a href="#0"> <img src="assets/img/logo/logo.svg" alt=""> </a>
            </div>
            <p class="desc">Here these Portals were developed using MEAN stack. The front-end application was developed by Angular and the backend was by node. The datas were taken from SAP KDS system.</p>
            <ul class="socials">
              <li> <a href="#0"> <i class="lni lni-facebook-filled"></i> </a> </li>
              <li> <a href="#0"> <i class="lni lni-twitter-filled"></i> </a> </li>
              <li> <a href="#0"> <i class="lni lni-instagram-filled"></i> </a> </li>
              <li> <a href="#0"> <i class="lni lni-linkedin-original"></i> </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
            <h3>Quick Link</h3>
            <ul class="links">
              <li> <a class="page-scroll active" href="#home">Home</a> </li>
              <li> <a class="page-scroll" href="#feature">Portals</a> </li>
              <li>  <a class="page-scroll" href="#about">About</a> </li>
              <li> <a class="page-scroll" href="#contact">Contact</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
            <h3>Protals</h3>
            <ul class="links">
              <li>    <a mat-list-item routerLinkActive="list-item-active" routerLink="/login"> Customer portal</a> </li>
              <li> <a mat-list-item routerLinkActive="list-item-active" routerLink="/vendlogin"> Vendor portal</a> </li>
              <li>   <a mat-list-item routerLinkActive="list-item-active" routerLink="/emplogin"> Employee portal</a></li>

            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".5s">
            <h6>Download App</h6>
            <ul class="download-app">
              <li>
                <a href="#0">
                  <span class="icon"><i class="lni lni-apple"></i></span>
                  <span class="text">Download on the <b>App Store</b> </span>
                </a>
              </li>
              <li>
                <a href="#0">
                  <span class="icon"><i class="lni lni-play-store"></i></span>
                  <span class="text">GET IT ON <b>Play Store</b> </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
<!-- ========================= footer style-4 end ========================= -->

<!-- ========================= scroll-top start ========================= -->
<a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
<!-- ========================= scroll-top end ========================= -->
