
<section id="feature" class="feature-section feature-style-5 " >
  <div class="container" >
    <div class="row justify-content-center" style="margin-top: 0%;">
      <div class="row col-xxl-5 col-xl-5 col-lg-7 col-md-8"  >

        <div class="section-title text-center mb-40">
          <div class="row">
            <img class="icons" src="/assets/statement.png" style="margin-bottom: 5%;">

            <h1 class="mb-15 wow fadeInUp" data-wow-delay=".2s"><b>Employee Portal</b></h1>
          </div>
          <p class="wow fadeInUp" data-wow-delay=".4s">The objective of the Employee portal is to understand the functionalities of Human Resource (HR) and Finance (FI) module.</p>
        </div>

      </div>

    </div>



    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature wow fadeInUp" data-wow-delay=".2s" style = "background-color: #f1c886; ">
          <div class="icon" style="margin-bottom: 0%;">
            <i style = "color: #F9A826;"class="lni lni-question-circle"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content" >
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/empleave-req"> <h3 style="font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif"><b>Leave request</b></h3></a>
            <p >To create leave request, you have to enter all the necessary. Data such as number of days, leave type and reason for leave are filled through forms.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature wow fadeInUp" data-wow-delay=".4s" style = "background-color: #f1c886; ">
          <div class="icon" style="margin-bottom: 0%;">
            <i style = "color: #F9A826;" class="lni lni-pie-chart"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content">
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/empleave-det"> <h3 style="font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif"><b>Leave details</b></h3></a>
            <p>It is an official document issued by a company to display leave data for the employee to apply leave with all the known details(complete leave data).</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" >
        <div class="single-feature wow fadeInUp" data-wow-delay=".6s" style = "background-color: #f1c886; ">
          <div class="icon" style="margin-bottom: 0%;">
            <i style = "color: #F9A826; "class="lni lni-cart-full"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content">
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/emp-payslip-det"> <h3 style="font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif"><b>Payslip details</b></h3></a>
            <p>A pay slip is a document containing a detailed list about the various components of your salary along with specific details of employment by an employer.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" style="margin-left: 10%;">
        <div class="single-feature wow fadeInUp" data-wow-delay=".2s" style = "background-color: #f1c886; ">
          <div class="icon" style="margin-bottom: 0%;">
            <i style = "color: #F9A826;" class="lni lni-code-alt"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content">
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/emppayrep"> <h3 style="font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif"><b>Payslip report</b></h3></a>
            <p>To view the pay slip, desired month and year will be received from the employee portal and through the web-service data will be collected from the the SAP ERP system.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature wow fadeInUp" data-wow-delay=".4s" style = "background-color: #f1c886; ">
          <div class="icon" style="margin-bottom: 0%;">
            <i style = "color: #F9A826;" class="lni lni-lock"></i>
            <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
          </div>
          <div class="content">
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/empsettle"> <h3 style="font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif"><b>Final settlement</b></h3></a>
            <p>In case of leaving the organization, the employee’s final settlement form has to be generated. The option should be enabled only during the notice period of that employee.</p>
          </div>
        </div>
      </div>



    </div>

  </div>
</section>
