<div class="bg-img">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Invoice details</mat-card-title>
      <mat-card-subtitle>Recorded video is here!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/video.png" alt="video">
    <mat-card-content>
      <p>
        Invoice is a document which holds the amount to be paid back to the vendor. The
        amount in the invoice would be entered against the purchase order in the incoming
        invoice transaction. This amount would be verified against the goods received and the
        price in the purchase order.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button   color = "primary" mat-button></button> -->
      <button class="button" style="margin-left: 20%;" ><span><a style = "color: white;"href="https://www.youtube.com/watch?v=dD_i1Coo4Lc&t=9s">IRPA</a></span></button>
    </mat-card-actions>
  </mat-card>
</div>

